@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-size: 17px;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4f4;
    color: black;
    font-family: "Roboto", "Arial";
    line-height: 1.5em;
}

.container {
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 25%;
}

.clr {
    clear: both;
}

.outside {
    margin: 0;
    position: fixed;
    min-width: 270px;
    padding-top: 70px;
    height: 100%;
    background: transparent;
}

#navbar {
    top: 0px;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    border-right: 1px solid black;
}

#navbar > header {
    text-align: left;
}

#navbar > ul {
    height: 88%;
    padding: 0;
    width: 100%;
}

#navbar > ul > li {
    list-style: none;
    padding: 5px;
    border-top: 1px dotted black;
}

#navbar > ul > li > a {
    text-decoration: none;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
}

.header {
    position: fixed;
    background-color: #c0c0c0;
    width: 100%;
    border-bottom: 3px solid black;
    height: 70px;
    box-sizing: border-box;
    padding-top: 0;
}

.header > img {
    width: 150px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}
.header > p {
    float: right;
    margin-right: 15px;
    font-weight: bold;
    margin-top: 21px;
}

#main-doc {
    padding-top: 65px;
}

header {
    text-align: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

.blackbox {
    background-color: black;
    color: rgb(29, 139, 29);
    padding: 6px;
    overflow: auto;
}

code {
    display: block;
    margin-left: 8px;
}

a {
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

#reference {
    margin-bottom: 4px;
}

/* Media Querys */


@media (max-width: 600px) {
    .container {
        margin-left: auto;
        width: 80%;
    }

    .outside {
       visibility: hidden;
   }

   .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header > img {
        float: none;
        margin: 0;
        margin-left: 15px;
    }
    .header > p {
        float: none;
        font-size: 13px;    
        margin-right: 15px;
    }

    h2 {
        line-height: 1.2em;
        margin-bottom: 2px;
    }

    .blackbox {
        width: 100%;
    }

    .box {
        width: 100%;
    }

    code {
        width: 100%;
        text-align: left;
        
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .outside {
        visibility: hidden;
    }
} 

@media (min-width: 769px) and (max-width: 860px) {
    .container {
        width: 70%;
        margin-left: 28%;
    }

    #navbar {
        width: 79%;
    }
}

@media (min-width: 861px) and (max-width: 1000px) {
    .container {
        width: 70%;
        margin-left: 28%;
    }

    #navbar {
        width: 80%;
    }
}

@media (min-width: 1001px) and (max-width: 1080px) {
    .container {
        width: 70%;
        margin-left: 28%;
    }

    #navbar {
        width: 90%;
    }
}

@media (min-width: 1082px) and (max-width: 1200px) {
    .container {
        width: 70%;
        margin-left: 26%;
    }

    #navbar {
        width: 90%;
    }
}
